<label for="username">User name</label>
<input type="text" class="form-control" [(ngModel)]="username">
<p>{{username}}</p>
<button class="btn btn-success" 
    [disabled]="username.trim().length < 1"
    (click)="resetUserName()">RESET</button>

<hr />

<label for="serve-name">Server name</label>
<input type="text" 
    id="server-name"
    class="form-control" 
    [(ngModel)]="serverName">

<p>{{serverName}}</p>

<button 
    class="btn btn-success"
    [disabled]="!allowNewServer"
    (click)="onCreateServer()"
    >
    Add server
</button>
<p *ngIf="isServerCreated">
    Server was created. Server name: {{serverName}}
</p>
<p *ngIf="!isServerCreated">
    No server created yet
</p>
<app-server *ngFor="let server of servers; let index = index"></app-server>